@import "/styles/variables.scss";

.price-note {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: 0em;
  text-align: start;

  @media (min-width: $breakPoint-desktop) {
    font-size: 15px;
    line-height: 18px;
  }
}
