@import "/styles/variables.scss";

.container {
  width: 100%;
  margin: auto auto 16px;
}

.tabs {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: hidden;

  .tabs_heading {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    white-space: nowrap;
    justify-content: space-between;

    button {
      padding: 8px 4px;
      background-color: transparent;
      border: 0;
      color: rgb(0, 0, 0, 0.8);
      font-size: 15px;
      font-weight: 500;
      line-height: 120%;
      cursor: pointer;

      &.active_tab {
        color: $black-color;
        border-bottom: 3px solid $black-color;
        margin-bottom: -1px;
      }
    }
  }

  button:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.15);
  }

  button:disabled {
    color: black;
  }

  .title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;

    .tab-content {
      .single_value {
        display: flex;
        gap: 3px;
        line-height: 120%;
      }

      .tab-content-heading {
        font-weight: 500;
        margin-bottom: 16px;
      }
    }
  }
}

.div-address-data {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.6);
  width: 600px;
  margin: 15px 0;
}

.guest-address-data {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.6);
  width: 600px;
  margin: 15px 0;
}
