@import "/styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
}

.div-pagination {
  @media (min-width: $breakPoint-desktop) {
    // margin-top: 32px;

    & > div {
      padding-inline: 0;
      padding-inline: $plp-wrapper-padding;
    }

    & > div:nth-child(1) {
      order: 3;
    }
    & > div:nth-child(2) {
      order: 2;
    }
    & > div:nth-child(3) {
      order: 1;
    }
    & > div:nth-child(5) {
      order: 4;
    }
  }
}

.wrapper-did-you-mean {
  padding: 10px 0px 0px 80px;
  font-size: 14px;
  text-decoration: none;
  color: $black-color;

  a {
    color: $black-color;
    text-decoration: underline;
  }
}

.product-listing {
  &__wrapper {
    padding: 0px 16px 0px;

    &[data-hide="true"] {
      display: none;
    }

    @media (min-width: $breakPoint-desktop) {
      padding: 0px;
    }

    .recommendation-bubbles {
      display: flex;
      gap: 16px;
      padding-block: 24px;
      width: max-content;
      .bubble {
        min-width: 155px;
        width: initial;
        height: 51px;
        padding: 0;
        a {
          text-decoration: inherit;
          color: inherit;
          padding: 16px;
        }
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-column: 1/3;
    grid-row-gap: 24px;
    row-gap: 24px;
    grid-column-gap: 0.6%;
    -moz-column-gap: 0.6%;
    column-gap: 0.6%;
    margin-top: 32px;

    .product-column {
      display: block;
      width: 100%;
    }
    @media (min-width: $breakPoint-desktop) {
      grid-column: 1/5;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
      row-gap: 24px;
      column-gap: 0.6%;
      margin-top: 32px;

      .product-column {
        display: block;
        width: 100%;
      }
    }
  }
}

.div-no-items {
  @media (min-width: $breakPoint-desktop) {
    padding-block: 50px;
  }
}

.div-no-items,
.div-loading {
  span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
  }
}

.div-loading {
  display: flex;
  align-items: center;
  span {
    margin-inline-end: 10px;
  }
}
