@import "/styles/variables.scss";

.register-modal,
.register-modal-overlay {
  z-index: 102;
}

.register-modal-overlay {
  backdrop-filter: blur(0) !important;
}

.register-modal {
  &.set-zindex {
    z-index: 1;
  }

  .register-modal-top-bar {
    z-index: 1;
    position: absolute;
    inset-block-start: 16px;
    inset-inline-end: 16px;
  }

  .register-modal-body {
    position: relative;
    padding: 0;
    border-radius: 0;
  }

  .register-modal-content {
    overflow: hidden;
  }
}

.register-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;

  @media (min-width: $breakPoint-desktop) {
    flex-direction: row;
  }

  .img {
    width: 100%;

    @media (min-width: $breakPoint-desktop) {
      max-width: 50%;
      min-width: 50%;
    }
  }
}

.register-text-section {
  flex: 1;
  padding-inline: 24px;
}

.auth-btns {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-title {
  @media (min-width: $breakPoint-desktop) {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: start;
  }
}

.modal-text {
  @media (min-width: $breakPoint-desktop) {
    color: black;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: start;
  }
}

.cross-icon {
  display: none;
  @media (min-width: $breakPoint-desktop) {
    display: block;
    position: absolute;
    inset-inline-end: 14px;
    top: 14px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.modal-button {
  @media (min-width: $breakPoint-desktop) {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 200px !important;
    height: 51px !important;
  }
}
