@import "/styles/variables.scss";

.card-slider {
  &__wrapper {
    width: 100%;
    padding: 48px 16px;
    // padding-inline-end: 0;

    @media (min-width: $breakPoint-desktop) {
      padding: 80px 80px;
    }

    &__section-heading {
      margin-bottom: -30px;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.8px;
      letter-spacing: 0em;
      text-align: start;
      text-transform: capitalize;
      color: $black-color;
      margin-top: 0;
    }

    &__navigation {
      text-decoration: none;
    }

    .categories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      column-gap: 9px;
      padding: 0 10px;

      @media (min-width: $breakPoint-desktop) {
        padding: 80px 80px 0;
      }

      .swiper-slide {
        padding: 10px;
      }
    }

    .categories-flex {
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;
      justify-content: center;

      @media (min-width: $breakPoint-desktop) {
        padding: 80px 80px 0;
      }    
    }
  }

  &__section-heading {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: start;
    text-transform: capitalize;
    color: $black-color;

    @media (min-width: $breakPoint-desktop) {
      margin-bottom: -30px;
    }
  }
}
