@import "/styles/variables.scss";

@mixin heading-style {
  margin-bottom: 16px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

.language-selector {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  gap: 100px;

  @media (max-width: $breakPoint-mobile) {
    gap: 50px;
    padding-bottom: 30px;
  }
}

.country-btns-div {
  .heading {
    @include heading-style;
  }
}

.language-btns-div {
  margin-top: 32px;

  .heading {
    @include heading-style;
  }

  .option {
    height: 52px;
  }
}

.dropdown {
  color: #000;
}

.options-ul {
  display: grid;
  grid-template-columns: repeat(2, 36.8vw);
  gap: 32px;

  @media (min-width: $breakPoint-desktop) {
    grid-template-columns: repeat(2, 138px);
  }

  .option {
    cursor: pointer;
    list-style: none;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .selected-box {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 100px;
    }

    &[data-selected="true"] {
      border: 1px solid #000;

      .selected-box {
        .inner-dot {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #000;
          border-radius: 100px;
        }
      }
    }

    .arabic-label {
      display: block;
    }

    .option-content {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 100%;

      .flag-div {
        margin-bottom: 2px;
      }

      .flag-country-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }
    }
  }
}

.submit-btn {
  text-align: center;

  button {
    &:first-child {
      width: 280px;
      height: 40px;
    }
  }
}
