@import "/styles/variables.scss";

.main-wrapper {
  padding: 0 80px;

  @media (max-width: $breakPoint-mobile) {
    padding: 0;
  }

  .hero-banner-container {
    width: 100%;
    height: 376px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;

    background: linear-gradient(to bottom right, gray, white);

    @media (max-width: $breakPoint-mobile) {
      padding: 0;
      height: 178px;
    }

    .banner-text-section {
      z-index: 1;
      display: flex;
      width: 100%;
      padding: 16px;
      @include banner-text-position;

      @media (min-width: $breakPoint-desktop) {
        padding: 50px;
      }

      .banner-text {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        color: #ffffff;
        margin: 8px 0;

        @media (max-width: $breakPoint-mobile) {
          font-size: 24px;
          line-height: 120%;
          text-align: center;
          color: #ffffff;
        }
      }
      .sample-text {
        font-size: 18px;
        line-height: 120%;
        color: #ffffff;
        margin: 0 auto;

        @media (max-width: $breakPoint-mobile) {
          font-size: 16px;
          line-height: 120%;
          text-align: center;
          width: 186px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
        }
      }
    }
  }

  .block-section {
    padding: 80px 8px;

    @media (max-width: $breakPoint-mobile) {
      padding: 24px 0;
    }

    .content-block-wrapper {
      display: flex;
      align-items: center;

      @media (max-width: $breakPoint-mobile) {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }

      &.reverse-row-c {
        @media (min-width: $breakPoint-desktop) {
          flex-direction: row-reverse;
          align-items: center;
        }

        .content {
          flex: 1.3;
          padding-inline-start: 72px;
          padding-inline-end: 0 !important;

          @media (max-width: $breakPoint-mobile) {
            padding-top: 0 !important;
          }
          @media (max-width: $breakPoint-mobile) {
            margin: 0;
            padding: 40px 16px 24px 16px;
            width: 100%;
            line-height: 120%;
          }

          strong {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;

            @media (max-width: $breakPoint-mobile) {
              display: block;
              margin-bottom: 24px;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 32px;

            @media (max-width: $breakPoint-mobile) {
              margin: 0;
            }

            .content-heading-arabic {
              display: block;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              margin-block-end: 32px;
            }

            .content-arabic {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              margin-bottom: 32px;
            }
          }
        }
      }

      &.img-text-sec {
        .content {
          // padding-top: 66px;
          padding-inline-end: 72px;
          flex: 0.5;

          @media (max-width: $breakPoint-mobile) {
            padding: 40px 16px 24px 16px !important;
          }

          strong {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            margin-block-end: 32px;

            @media (max-width: $breakPoint-mobile) {
              display: block;
              margin-block-end: 16px;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            margin: 0;

            @media (max-width: $breakPoint-mobile) {
              font-size: 13px;
              margin-bottom: 0;
            }
            .content-heading-arabic {
              display: block;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              margin-block-end: 32px;
            }

            .content-arabic {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              margin-bottom: 32px;
            }
          }
        }
      }

      &.reverse-row {
        flex-direction: row-reverse;
        align-items: center;
        display: flex;

        @media (max-width: $breakPoint-mobile) {
          flex-direction: column-reverse;
        }

        .mid-section-img-right {
          position: relative;
          flex: 2.6631;
          flex-shrink: 0;
          aspect-ratio: 801/518;
        }
        .content {
          padding-inline-start: 72px;
          flex: 1.3;
          padding-inline-end: 0;

          @media (max-width: $breakPoint-mobile) {
            margin: 0;
            padding: 40px 16px 24px;
            width: 100%;
            line-height: 120%;
          }

          strong {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;

            @media (max-width: $breakPoint-mobile) {
              display: block;
              margin-bottom: 24px;
            }
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 32px;

            @media (max-width: $breakPoint-mobile) {
              margin: 0;
            }

            .content-heading-arabic {
              display: block;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 120%;
              margin-block-end: 32px;
            }

            .content-arabic {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              margin-bottom: 32px;
            }
          }
        }
      }
    }

    .mid-section-img-right {
      position: relative;
      flex: 1.03;
      flex-shrink: 0;
      aspect-ratio: 801/518;

      @media (max-width: $breakPoint-mobile) {
        width: 100%;
      }
    }
  }
  .mid-section {
    position: relative;
    padding: 80px 0;

    @media (max-width: $breakPoint-mobile) {
      padding: 0 16px;
      display: block;
      width: 100%;
      flex-direction: row;
    }

    .mid-content {
      @media (max-width: $breakPoint-mobile) {
        .content-block-wrapper {
          display: grid;
          grid-template-columns: 40.3% 1fr;
        }
      }
      .img-text-sec {
        display: flex;
        align-items: center;

        @media (max-width: $breakPoint-mobile) {
          display: grid;
        }

        .mid-section-img-left {
          padding-inline-start: 6px;

          @media (min-width: $breakPoint-desktop) {
            flex: 1.555;
            position: relative;
            // aspect-ratio: 324/528;
            align-items: start;
            padding-inline-start: 0;
          }
        }
        .mid-section-img-right {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          margin-inline-start: 8px;
          padding-inline-end: 6px;

          @media (min-width: $breakPoint-desktop) {
            position: relative;
            aspect-ratio: 401/451;
            flex: 1.921;
            padding-inline-end: 0;
            margin-inline-start: 0;
          }
        }
        .content {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          padding-block-start: 40px;

          @media (min-width: $breakPoint-desktop) {
            position: relative;
            aspect-ratio: 390/306;
            flex: 1.87;
            padding: 15px 82px 0px;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            margin: 0;

            @media (max-width: $breakPoint-mobile) {
              margin: 0;
            }
          }

          strong {
            display: block;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            margin-block-end: 32px;

            @media (max-width: $breakPoint-mobile) {
              display: block;
              margin-block-end: 24px;
            }
          }
          .content-heading-arabic {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            margin-block-end: 32px;
          }

          .content-arabic {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}

.heritage-main {
  padding: 80px 0 71px 0;
  margin-inline-end: -6px;

  @media (max-width: $breakPoint-mobile) {
    padding-top: 48px;
    padding-inline-end: 0;
    padding-inline-start: 24px;
    margin-inline-end: 0px;
  }

  .section-heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 48px;
  }

  .image-section {
    background: rgba(0, 0, 0, 0.02);
    margin: 16px 0;
  }
}

.div-card-tabs {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  overflow-x: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  justify-content: space-between;

  @media (max-width: $breakPoint-mobile) {
    column-gap: 45px;
    padding: 25px 0 0 0;
  }

  .tabs-btn {
    font-size: 15px;
    line-height: 120%;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    width: 83px;

    @media (max-width: $breakPoint-mobile) {
      padding: 5px 10px;
      color: black;
    }
  }
  .tab-active {
    font-size: 15px;
    line-height: 120%;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    width: 83px;
    cursor: pointer;
    padding: 8px;

    @media (max-width: $breakPoint-mobile) {
      padding: 5px 10px;
      color: black;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-cards {
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  display: flex;
  scroll-snap-type: x mandatory;
  padding-bottom: 40px;
  padding-top: 25px;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.08);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-color;
    outline: 0;
  }
}

.sec-heading {
  margin: 0;
}

.slider-link-wrapper {
  overflow-x: auto;
  overflow: inherit;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);

  &::-webkit-scrollbar {
    display: none;
  }
}

.best-seller-section{
  padding: 0;
}
