@import "/styles/variables.scss";

.main-image-magnifier {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;


  &[data-zoomed="true"] {
    &>span:first-child {
      opacity: 1 !important;
      z-index: 3;
    }

    &>span:nth-child(2) {
      opacity: 0 !important;
    }
  }

  & * {
    pointer-events: none;
  }

  &>span {
    position: absolute !important;
    transition: opacity 0.4s;
  }

  &>span:first-child {
    opacity: 0 !important;
  }

  // &>span:nth-child(2) {
  // width: 100% !important;
  // }

  &.version-one-style {

    // cursor: unset;

    &>span:first-child {
      opacity: 1 !important;
      z-index: 3;
    }

    &>span:nth-child(2) {
      opacity: 0 !important;
    }

    &[data-zoomed="true"] {
      justify-content: center;
      overflow: hidden;
      

      &>span:first-child {
        opacity: 0 !important;
        z-index: 3;
      }

      &>span:nth-child(2) {
        opacity: 1 !important;
      }
    }

    &>span {
      // width: 100% !important;
      // height: 100% !important;
      z-index: -1;

      &:last-child {
        z-index: -1;

        @media (max-width: $breakPoint-mobile) {
          // inset-inline-start: 0;
          // transform: translateY(5%);
        }
      }
    }
  }
}